@model IEnumerable<CustomerModel>


<section id="customers p-5">
    <div class="container">

        <!-- title -->
        <div class="row text-center title-margin">
            <div class="col">
                <h1 class="display-4 text-uppercase mb-0 text-light">
                    <strong>customers</strong>
                    <span><i class="fas fa-address-book text-warning"></i></span>
                </h1>
            </div>
        </div>
        <!-- end of title -->

        @if (ViewBag.DeletedCustomer != null && ViewBag.DeletedCustomer)
        {
            <div class="alert alert-danger alert-dismissible fade show w-50 m-auto" role="alert">
                The customer was deleted. <br />
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <div class="row mt-5">
            <div class="col-md-10 py-3 mx-auto">

                <a asp-controller="Customers" asp-action="addnewcustomer" class="btn btn-success mb-2">
                    + new customer
                </a>

                <table class="table table-hover cells-color">
                    <thead class="thead-dark">
                        <tr>
                            <th>First/Last Name</th>
                            <th>CPR</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model)
                        {
                            <tr>
                                <td>@customer.Name</td>
                                <td>@customer.Id</td>
                                <td><a href="mailto:@customer.Email">@customer.Email</a></td>
                                <td>@customer.Phone</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a asp-controller="Customers" asp-action="UpdateCustomer"
                                           asp-route-id="@customer.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                        <form method="post">
                                            <button onclick="if(!confirm('Are you sure ?')){ return false; }" type="submit" asp-controller="Customers"
                                                    asp-action="DeleteCustomer" asp-route-id="@customer.Id"
                                                    class="btn btn-danger">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</section>
